header {
  display: flex;
  background: linear-gradient(to right, #8360c3, #2ebf91);
  justify-content: space-around;
  align-items: center;
  user-select: none;
  padding: 0.5em;
}
header .css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #2ebf9100;
}

@media only screen and (max-width: 400px) {
  header {
    flex-direction: column;
    gap: 1em;
  }
}
