
.reaction-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100vw;
}

.reaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    border: solid 1px black;
}

.reaction h1 {
    animation: text-anim 1s ease-in-out;
}

.reaction .reaction-box {
    width: 30vw;
    height: 30vh;
    background-color: rgb(255, 255, 255);
}

.reaction .reaction-box-active {
    width: 30vw;
    height: 30vh;
    background-color: rgb(92, 228, 99);
}

.reaction .start-btn {
    border: none;
    width: 100%;
    user-select: none;
    padding: 1em 2em;
    font-size: 1.4em;
    letter-spacing: 3px;
    animation: start-btn-anim 6s ease-in-out infinite alternate;
    background: linear-gradient(#12c2e9ad, #c471edbe, #db636b);
    background-size: 100% 1000%;
    transition: 0.3s ease;
}

.reaction .start-btn:hover{
    box-shadow: inset 0px -10px 27px -8px #2719a3, 5px 5px 15px 5px rgba(0,0,0,0);
}

@keyframes start-btn-anim {
    from {
        background-position: 0% 0% ;
    }
    to {
        background-position: 100% 50% ;
    }
}

@keyframes text-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 650px) {
    .reaction {
        height: 60vh;
        width: 70vw;
    }
    .reaction h1 {
        text-align: center;
    }
}
