
.clicker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.clicker-container .start-text {
    pointer-events: none;
    color: #2ebf91;
    font-size: 1.4em;
}

.clicker-container .clicker {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(0, 0, 0);
    width: 50vw;
    min-height: 300px;
    pointer-events: pointer;
    transition: 300ms ease-in-out;
}

.clicker-container .clicker:hover {
    border: solid 1px rgba(58, 115, 168, 0.664);
    box-shadow:5px 5px 0px 0px rgb(104, 221, 182);
}

.clicker-container .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    width: 49vw;
    height: 10vh;
    background: linear-gradient(to top, #8360c3, #2ebf91);
    gap: 2em;
    padding: 0.5em;
    margin-bottom: 0.4em;
    transition: 0.3s ease;
}

.clicker-container .stats .timer {
    width: 100%;
    background-color: rgba(65, 88, 88, 0.1);
    padding: 0em 1em;
}

.clicker-container .stats .amount {
    width: 100%;
    background-color: rgba(65, 88, 88, 0.1);
    padding: 0em 1em;
}

.clicker-container .stats .clicksPerSec {
    width: 100%;
    background-color: rgba(65, 88, 88, 0.1);
    padding: 0em 1em;
}

.clicker-container .restartBtn {
    border: none;
    background-color: #2ebf91;
    user-select: none;
    padding: 0.5em;
    margin-bottom: 0.5em;
    max-width: 50vw;
    width: 100%;
    transition: 0.3s ease;
    animation: restartBtnAmin 1s ease;
}

.clicker-container .restartBtn:hover {
    background-color: #2ebf919d;
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0);
}

.select {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    width: 50vw;
}

.select .select-btns {
    
    border: none;
}

@keyframes restartBtnAmin {
    0% {
        width: 10%;
    }
    100% {
        width: 100%;
    }
}